$flow-color-green: #57dfb7;
$flow-color-dark-grey: #202022;
$flow-color-grey: #202020;
$flow-color-error: #e6404b;

$lato-regular: 'Lato-Regular';
$lato-bold: 'Lato-Bold';
$lato-light: 'Lato-Light';
$lato-italic: 'Lato-Italic';

$font-awesome: 'font-awesome';
$owfont-regular: 'owfont-regular';
